# OS junk
.DS_Store
Thumbs.db
desktop.ini

# Editor folders
.vscode/
.idea/

# Surge.sh local config (not needed for GitHub)
CNAME
.surgeignore

# Shared-data store (created by server.js at runtime — do not commit live data)
data/
*.log
